@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
	1, Rue Jean-Dominique Cassini<br />
    67400 ILKIRCH-GRAFFENSTADEN<br />
    <abbr title="Phone">P:</abbr>
	03 69 20 02 30
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:c57feller@gmail.com">c57feller@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:fanny.belot@laposte.net">fanny.belot@laposte.net</a>
</address>