@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
    <h1>JSP.Music</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>*@

<div class="row">
    <div class="col-md-5">
        <h1>New musics</h1>
        <p align="center">Come discover the new musics we found for you. <br /> Hoping you'll love them !
			<img src="~/Images/new-ribbon.png" alt="new" />
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">I can't wait to see them !</a></p>
    </div>
    <div class="col-md-5">
        <h1>Best musics</h1>
        <p align="center">Here is a selection of the musics our users prefer. <br />Sounds great, don't you think ?</p>
		<img src="~/Images/new-ribbon.png" alt="new" />
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">That sounds amazing !</a></p>
    </div>
</div>